[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/companies"
  to = "/.netlify/functions/companies"
  status = 200

[[redirects]]
  from = "/api/status"
  to = "/.netlify/functions/status"
  status = 200
